<form action="/leaconsole/sentmessage" method="post">
To: <input type="text" name="To" />
Content: <input type="text" name="Body" />
<input type="submit">
</form>
<form action="/leaconsole/sentcommand" method="post">
Command:<input type="text" name="Command" />
<input type="submit">
</form>
(Available commands: announce cake, assign words, end party, teach messaging)
<hr>
Transcript:
<ul style="list-style-type:none">
{% for post in information.find() %}
  <li style="color:{{ post.color }}">{{ post.sender }} to {{ post.recipient }} @{{ post.time|printtime }}: "{{ post["content"] }}"</li>
{% endfor %}
</ul>


