<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		table {
			border:0px;
			padding-left: 5px;
			padding-right: 5px;
			text-align: center;
		}
	</style>
</head>
<body>
	<table border=0 cellpadding=10px>
		<tr>
			<td>Agent #</td>
			<td>Successful Transmits</td>
			<td>Intercepted Transmits</td>
			<td>Reported Enemies</td>
			<td>Spurious Reports</td>
			<td>Assigned Words</td>
		</tr>
	{% for player in players.find() %}
		<tr>
			<td>{{ player.agentname }}</td>
			<td>{{ player.successfulTransmits|length }}</td>
			<td>{{ player.interceptedTransmits|length }}</td>
			<td>{{ player.reportedEnemies|length }}</td>
			<td>{{ player.spuriousReports|length }}</td>
			<td>{{ player.task|join[", "] }}</td>
		</tr>
	{% endfor %}
	</table>
	<hr>
	Spurious reports:<br> {% for item in spuriousReports %}{{ item }} {% endfor %}
</body>
</html>
