<!DOCTYPE html>
<html>
<body>
	<table border=0 padding=10px>
		<tr>
			<td>Agent #</td>
			<td>Successful Transmits</td>
			<td>Intercepted Transmits</td>
			<td>Reported Enemies</td>
			<td>Spurious Reports</td>
		</tr>
	{% for player in players.find() %}
		<tr>
			<td>{{ player.agentname }}</td>
			<td>{{ player.successfulTransmits|length }}</td>
			<td>{{ player.interceptedTransmits|length }}</td>
			<td>{{ player.reportedEnemies|length }}</td>
			<td>{{ player.spuriousReports|length }}</td>
		</tr>
	{% endfor %}
	</table>
	<hr>
	Spurious reports:<br> {{ game.spuriousReports }}
</body>
</html>
